<h1><%= t("static_pages.sample_app") %></h1>
<p><%= t "other.hi", name: @user.name %>,</p>
<p><%= t("account_activations.edit.wl_click") %></p>
<%= link_to t("activate"),
  edit_account_activation_url(id: @user.activation_token, email: @user.email) %>  
