<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to t("static_pages.home.about"), "#" %></li>
    <li><%= link_to t("static_pages.home.contact"), "help" %></li>
    <li><%= link_to t("static_pages.home.news"), "#" %></li>
  </ul>
</nav>
